*.class
*.log

# Eclipse
/target/
/.settings/
.project
.classpath

# IntelliJ
/.idea/
/tmp/
/bin/
*.test
*.swp

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
uroborosql.iml
