<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- logを標準出力に出力 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- ターゲットを標準出力へ -->
		<Target>System.out</Target>
		<!-- パターンレイアウト -->
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<appender name="AuditLogTest" class="jp.co.future.uroborosql.testlog.TestAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<appender name="SecretColumnSqlInitializeTest" class="jp.co.future.uroborosql.testlog.TestAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<appender name="DebugSqlFilterTest" class="jp.co.future.uroborosql.testlog.TestAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<appender name="DumpResultSqlFilterTest" class="jp.co.future.uroborosql.testlog.TestAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<logger name="jp.co.future.uroborosql.filter.AuditLogSqlFilter"
		level="DEBUG" additivity="false">
		<appender-ref ref="AuditLogTest" />
	</logger>

	<logger name="jp.co.future.uroborosql.filter.SecretColumnSqlFilter"
		level="DEBUG" additivity="false">
		<appender-ref ref="SecretColumnSqlInitializeTest" />
	</logger>

	<logger name="jp.co.future.uroborosql.filter.DebugSqlFilter"
		level="DEBUG" additivity="false">
		<appender-ref ref="DebugSqlFilterTest" />
	</logger>

	<logger name="jp.co.future.uroborosql.filter.DumpResultSqlFilter"
		level="DEBUG" additivity="false">
		<appender-ref ref="DumpResultSqlFilterTest" />
	</logger>

	<appender name="CoverageLog" class="ch.qos.logback.core.FileAppender">
		<file>target/coverage.log</file>
		<append>true</append>
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<logger name="jp.co.future.uroborosql.coverage" level="TRACE"
		additivity="false">
		<appender-ref ref="CoverageLog" />
	</logger>

	<!-- ログ出力に関する設定 -->
	<root>
		<!-- 出力するレベルを設定 -->
		<level value="DEBUG" />

		<!-- アペンダを設定 -->
		<appender-ref ref="STDOUT" />
	</root>
</configuration>