<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- logを標準出力に出力 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- ターゲットを標準出力へ -->
		<Target>System.out</Target>
		<!-- パターンレイアウト -->
		<encoder>
<!--			<pattern>%-40.40logger - [%.-1level] - %m%n</pattern> -->
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<appender name="CoverageLog" class="ch.qos.logback.core.FileAppender">
		<file>target/coverage.log</file>
		<append>true</append>
		<encoder>
			<pattern>%-40.40logger - [%.-1level] - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="EventTest" class="jp.co.future.uroborosql.testlog.TestAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<logger name="jp.co.future.uroborosql.log" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="jp.co.future.uroborosql.sql" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="jp.co.future.uroborosql.sql.parser" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="jp.co.future.uroborosql.sql.coverage" level="INFO" additivity="false">
		<appender-ref ref="CoverageLog" />
	</logger>

	<logger name="jp.co.future.uroborosql.repl" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="jp.co.future.uroborosql.performance" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="jp.co.future.uroborosql.setting" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="EventTest" />
	</logger>

	<logger name="jp.co.future.uroborosql.event" level="DEBUG" additivity="false">
		<appender-ref ref="EventTest" />
	</logger>

	<!-- ログ出力に関する設定 -->
	<root>
		<!-- 出力するレベルを設定 -->
		<level value="${logback.loglevel:-OFF}" />

		<!-- アペンダを設定 -->
		<appender-ref ref="STDOUT" />
	</root>
</configuration>